.e23_50 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1366px;
	height:3330px;
	position:absolute;
}
.e29_38 { 
	width:100%;
	height:787.0625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e23_51 { 
	background-image:linear-gradient(0deg, rgba(111.00000098347664, 125.00000014901161, 251.00000023841858, 1) 0%,rgba(38.0000015348196, 48.000000938773155, 140.00000685453415, 1) 100%) ;
	width:1367px;
	height:787px;
	position:absolute;
	left:0px;
	top:0px;
}
.e29_37 { 
	width:1101px;
	height:632.5990600585938px;
	position:absolute;
	left:110px;
	top:43px;
}
.e23_80 { 
	width:1083px;
	height:64px;
	position:absolute;
	left:18.000030517578125px;
	top:0px;
}
.e23_78 { 
	width:1083px;
	height:64px;
	position:absolute;
	left:0px;
	top:0px;
}
.e23_53 { 
	color:rgba(255, 255, 255, 1);
	width:90.31092834472656px;
	height:61.484375px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Raleway;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e23_77 { 
	width:529.7764892578125px;
	height:63px;
	position:absolute;
	left:553.2235107421875px;
	top:1px;
}
.e23_54 { 
	color:rgba(255, 255, 255, 1);
	width:71.76519775390625px;
	height:24.59375px;
	position:absolute;
	left:0px;
	top:19.49456787109375px;
	font-family:Poppins;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e23_56 { 
	color:rgba(255, 255, 255, 1);
	width:108.62507629394531px;
	height:24.59375px;
	position:absolute;
	left:234.89154052734375px;
	top:19.49462890625px;
	font-family:Poppins;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e23_67 { 
	color:rgba(255, 255, 255, 1);
	width:99.58380126953125px;
	height:22.544269561767578px;
	position:absolute;
	left:105.68563842773438px;
	top:20.51953125px;
	font-family:Poppins;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e23_74 { 
	background-color:rgba(35.14218628406525, 38.321718871593475, 66.93749696016312, 1);
	width:160px;
	height:63px;
	position:absolute;
	left:369.7764892578125px;
	top:0px;
	border-top-left-radius:43.096778869628906px;
	border-top-right-radius:43.096778869628906px;
	border-bottom-left-radius:43.096778869628906px;
	border-bottom-right-radius:43.096778869628906px;
}
.ei23_74_6_26 { 
	/* box-shadow:0px 7.182796001434326px 7.182796001434326px rgba(0, 0, 0, 0.25); */
	color:rgba(255, 255, 255, 1);
	width:123.90322875976562px;
	height:24px;
	position:absolute;
	left:17.956989288330078px;
	top:17.956989288330078px;
	font-family:Poppins;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e23_130 { 
	width:449.28631591796875px;
	height:129.1171875px;
	position:absolute;
	left:0px;
	top:203px;
}
.e23_118 { 
	color:rgba(255, 255, 255, 1);
	width:449.28631591796875px;
	height:129.1171875px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Raleway;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e26_145 { 
	width:199.44610595703125px;
	height:86.36202239990234px;
	position:absolute;
	left:655.202392578125px;
	top:338.666015625px;
}
.e26_144 { 
	background-image:linear-gradient(0deg, rgba(111.00000098347664, 125.00000014901161, 251.00000023841858, 1) 0%,rgba(59.00000028312206, 68.00000354647636, 143.00000667572021, 1) 100%) ;
	width:193.23802185058594px;
	height:77.89563751220703px;
	position:absolute;
	left:5.981863198053134px;
	top:8.568791272808085px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e26_143 { 
	background-color:rgba(255, 255, 255, 1);
	width:193.2383575439453px;
	height:80.71114349365234px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e24_135 { 
	color:rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
	width:98.20454406738281px;
	height:59.12545394897461px;
	position:absolute;
	left:51.63545885534495px;
	top:1.0850423604533717px;
	font-family:Poppins;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e24_140 { 
	color:rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
	width:142.6133575439453px;
	height:18.770015716552734px;
	position:absolute;
	left:35.747721812260465px;
	top:47.08377423386264px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e29_40 { 
	width:509.1832580566406px;
	height:226.55859375px;
	position:absolute;
	left:0.1146240234375px;
	top:388px;
}
.e23_119 { 
	color:rgba(255, 255, 255, 1);
	width:509.1832580566406px;
	height:103.49870300292969px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e23_124 { 
	background-color:rgba(218.00000220537186, 114.0000008046627, 44.000001177191734, 1);
	width:250.6493377685547px;
	height:64.55859375px;
	position:absolute;
	left:11.8853759765625px;
	top:162px;
	border-top-left-radius:45.81818389892578px;
	border-top-right-radius:45.81818389892578px;
	border-bottom-left-radius:45.81818389892578px;
	border-bottom-right-radius:45.81818389892578px;
}
.ei23_124_7_56 { 
	/* box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25); */
	width:19.09090805053711px;
	height:20.151514053344727px;
	position:absolute;
	left:50.006492614746094px;
	top:22.203540802001953px;
}
.ei23_124_7_59 { 
	width:13.363635063171387px;
	height:14.106058120727539px;
	position:absolute;
	left:1.9091126918792725px;
	top:4.03033971786499px;
}
.ei23_124_7_58 { 
	background-color:rgba(255, 255, 255, 1);
	width:13.363635063171387px;
	height:14.106058120727539px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei23_124_7_57 { 
	background-color:rgba(255, 255, 255, 1);
	width:10.499591827392578px;
	height:11.082905769348145px;
	position:absolute;
	left:6.681839942932129px;
	top:2.0154471397399902px;
}
.ei23_124_6_40 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:30px;
	position:absolute;
	left:99.64285278320312px;
	top:17.279296875px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_39 { 
	width:199.04156494140625px;
	height:96.59931182861328px;
	position:absolute;
	left:568.9999389648438px;
	top:535.999755859375px;
}
.e26_146 { 
	width:196.6419677734375px;
	height:92.77790832519531px;
	position:absolute;
	left:2.437357187271118px;
	top:0px;
}
.e26_147 { 
	background-image:linear-gradient(0deg, rgba(111.00000098347664, 125.00000014901161, 251.00000023841858, 1) 0%,rgba(59.00000028312206, 68.00000354647636, 143.00000667572021, 1) 100%) ;
	width:196.61282348632812px;
	height:80.44538879394531px;
	position:absolute;
	left:-0.322472456655305px;
	top:12.270666872878792px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e26_148 { 
	background-color:rgba(255, 255, 255, 1);
	width:189.75482177734375px;
	height:83.35301208496094px;
	position:absolute;
	left:0.44973819630286016px;
	top:0.7611398356223162px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e26_149 { 
	color:rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
	width:107.02189636230469px;
	height:61.06068420410156px;
	position:absolute;
	left:33.34199767131963px;
	top:0.653498516511263px;
	font-family:Poppins;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e26_150 { 
	color:rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
	width:130.86773681640625px;
	height:19.384374618530273px;
	position:absolute;
	left:32.27672024931394px;
	top:49.110517533612665px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e28_35 { 
	position:absolute;
	left:105.32174217148167px;
	top:12.925999371650732px;
}
.e26_141 { 
	width:762.978759765625px;
	height:541.0625px;
	position:absolute;
	left:712.02099609375px;
	top:246px;
	background-image:url(images/wepik_export_20230712130837895u_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e35_54 { 
	width:977.5px;
	height:1674.0001220703125px;
	position:absolute;
	left:157px;
	top:866px;
}
.e35_37 { 
	width:28px;
	height:524px;
	position:absolute;
	left:82.5px;
	top:0px;
}
.e34_35 { 
	background-color:rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
	width:28px;
	height:524px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e29_274 { 
	box-shadow:7px 7px 7px rgba(1.0625000554136932, 1.0625000554136932, 1.0625000554136932, 0.25);
	width:387px;
	height:195.46336364746094px;
	position:absolute;
	left:0px;
	top:37.950439453125px;
}
.ei29_274_13_73 {                                             
	background-color:rgba(255, 255, 255, 1);
	width:387px;
	height:192.3275909423828px;
	position:absolute;
	left:0px;
	top:3.1357758045196533px;
	 
	
}
.ei29_274_13_49 { 
	background-color:rgba(113.00000086426735, 125.00000014901161, 251.00000023841858, 1);
	width:387px;
	height:74px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}
.ei29_274_12_48 { 
	color:rgba(255, 255, 255, 1);
	width:367px;
	height:54px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Raleway;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei29_274_13_50 { 
	color:rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
	width:148px;
	height:36px;
	position:absolute;
	left:37px;
	top:73px;
	font-family:Raleway;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.ei29_274_13_51 { 
	color:rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
	width:148px;
	height:27px;
	position:absolute;
	left:37px;
	top:112px;
	font-family:Raleway;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei29_274_13_54 { 
	width:115px;
	height:120px;
	position:absolute;
	left:229px;
	top:39px;
}
.ei29_274_13_56 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(74.3749974668026, 26.651042215526104, 26.651042215526104, 1);
	width:115px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/ellipse_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.i29_274_13_56 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e35_53 { 
	width:742px;
	height:1601.55615234375px;
	position:absolute;
	left:235.5px;
	top:72.4439697265625px;
}
.e35_512 { 
	color:rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
	width:543px;
	height:106px;
	position:absolute;
	left:0px;
	top:1495.55615234375px;
	font-family:Poppins;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e47_811 { 
	width:565px;
	height:396.0453796386719px;
	position:absolute;
	left:177px;
	top:0px;
}
.e35_46 { 
	color:rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
	width:565px;
	height:105.57112121582031px;
	position:absolute;
	left:0px;
	top:177.694091796875px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e35_40 { 
	width:565px;
	height:147.3814697265625px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei35_40_10_38 { 
	color:rgba(72.46248409152031, 65.87499797344208, 98.81249696016312, 1);
	width:565px;
	height:144px;
	position:absolute;
	left:0px;
	top:1.69073486328125px;
	font-family:Raleway;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
.e7_169 { 
	background-color:rgba(218.00000220537186, 114.0000008046627, 44.000001177191734, 1);
	width:159px;
	height:57.48922348022461px;
	position:absolute;
	left:338.5px;
	top:338.55615234375px;
	border-top-left-radius:24.000001907348633px;
	border-top-right-radius:24.000001907348633px;
	border-bottom-left-radius:24.000001907348633px;
	border-bottom-right-radius:24.000001907348633px;
}
.e7_170 { 
	/* box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25); */
	color:rgba(255, 255, 255, 1);
	width:136px;
	height:63px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Poppins;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e35_36 { 
	width:322.84002685546875px;
	height:193.99998474121094px;
	position:absolute;
	left:21.056671142578125px;
	top:294.9998779296875px;
}
.e29_97  { 
	box-shadow:7px 7px 7px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width: 403px;
	height:193.99998474121094px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25.02400016784668px;
	border-top-right-radius:25.02400016784668px;
	border-bottom-left-radius:25.02400016784668px;
	border-bottom-right-radius:25.02400016784668px;
}
.e29_98 { 
	background-color:rgba(218.00000220537186, 114.0000008046627, 44.000001177191734, 1);
	width:403.5119934082031px;
	height:50.04800033569336px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:13.554666519165039px;
	border-top-right-radius:13.554666519165039px;
	border-bottom-left-radius:13.554666519165039px;
	border-bottom-right-radius:13.554666519165039px;
}
.e29_99 { 
	color:rgba(255, 255, 255, 1);
	width:382.6586608886719px;
	height:28px;
	position:absolute;
	left:10.426666259765625px;
	top:11.02400016784668px;
	font-family:Raleway;
	text-align:center;
	font-size:18.76799964904785px;
	letter-spacing:0;
}
.e29_100 { 
	color:rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
	width:154.31466674804688px;
	height:38px;
	position:absolute;
	left:38.57866668701172px;
	top:64.64533233642578px;
	font-family:Raleway;
	text-align:center;
	font-size:25.02400016784668px;
	letter-spacing:0;
}
.e29_101 { 
	color:rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
	width:191px;
	height:28px;
	position:absolute;
	left:21px;
	top:117px;
	font-family:Raleway;
	text-align:center;
	font-size:18.76799964904785px;
	letter-spacing:0;
}

.e29_161 { 
	width:120px;
	height:126px;
	position:absolute;
	left:230px;
	top:40px;
	border-top-left-radius:86px;
	border-top-right-radius:86px;
	border-bottom-left-radius:86px;
	border-bottom-right-radius:86px;
	background-image:url(images/pexels_photo_by_pixabay.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e35_495 { 
	width:1368px;
	height:785px;
	position:absolute;
	left:0px;
	top:1478px;
}
.e35_56 { 
	background-image:linear-gradient(0deg, rgba(111.00000098347664, 125.00000014901161, 251.00000023841858, 1) 0%,rgba(38.0000015348196, 48.000000938773155, 140.00000685453415, 1) 100%) ;
	width:1368px;
	height:785px;
	position:absolute;
	left:0px;
	top:0px;
}
.e35_271 { 
	background-color:rgba(218.00000220537186, 114.0000008046627, 44.000001177191734, 1);
	width:157.37721252441406px;
	height:49px;
	position:absolute;
	left:954px;
	top:632px;
	border-top-left-radius:24.000001907348633px;
	border-top-right-radius:24.000001907348633px;
	border-bottom-left-radius:24.000001907348633px;
	border-bottom-right-radius:24.000001907348633px;
}
.ei35_271_7_170 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:136px;
	height:63px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Poppins;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e35_61 { 
	width:503.8050231933594px;
	height:72px;
	position:absolute;
	left:362px;
	top:53px;
}
.ei35_61_12_31 { 
	color:rgba(255, 255, 255, 1);
	width:503.8050231933594px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Raleway;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
}
.e133_131 { 
	width:1057.6416015625px;
	height:369.58953857421875px;
	position:absolute;
	left:117px;
	top:193px;
}
.e35_103 { 
	background-color:rgba(255, 255, 255, 1);
	width:519.6416625976562px;
	height:369.58953857421875px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:31.343280792236328px;
	border-top-right-radius:31.343280792236328px;
	border-bottom-left-radius:31.343280792236328px;
	border-bottom-right-radius:31.343280792236328px;
}
.ei35_103_16_22 { 
	box-shadow:0px 5.223880290985107px 10.447760581970215px rgba(0, 0, 0, 0.25);
	width:466.2313232421875px;
	height:220.7089385986328px;
	position:absolute;
	left:30.037311553955078px;
	top:0.41034752130508423px;
	border-top-left-radius:31.343280792236328px;
	border-top-right-radius:31.343280792236328px;
	border-bottom-left-radius:31.343280792236328px;
	border-bottom-right-radius:31.343280792236328px;
	background-image:url(images/rectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei35_103_22_32 { 
	background-color:rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
	width:487.1268310546875px;
	height:9.141790390014648px;
	position:absolute;
	left:14.589576721191406px;
	top:360.85809326171875px;
	border-radius:31.343280792236328px;
}
.ei35_103_16_27 { 
	background-color:rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
	width:20.89552116394043px;
	height:20.89552116394043px;
	position:absolute;
	left:413.9925231933594px;
	top:275.97003173828125px;
}
.ei35_103_16_23 { 
	color:rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
	width:385.26116943359375px;
	height:58.15262985229492px;
	position:absolute;
	left:39.17910385131836px;
	top:257.68646240234375px;
	font-family:Raleway;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.ei35_103_16_24 { 
	color:rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
	width:61px;
	height:31px;
	position:absolute;
	left:445.3357849121094px;
	top:270.74615478515625px;
	font-family:Raleway;
	text-align:center;
	font-size:20.89552116394043px;
	letter-spacing:0;
}
.e35_184 { 
	background-color:rgba(255, 255, 255, 1);
	width:519.6416625976562px;
	height:369.58953857421875px;
	position:absolute;
	left:538px;
	top:0px;
	border-top-left-radius:31.343280792236328px;
	border-top-right-radius:31.343280792236328px;
	border-bottom-left-radius:31.343280792236328px;
	border-bottom-right-radius:31.343280792236328px;
}
.ei35_184_16_22 { 
	box-shadow:0px 5.223880290985107px 10.447760581970215px rgba(0, 0, 0, 0.25);
	width:466.2313232421875px;
	height:220.7089385986328px;
	position:absolute;
	left:30.037311553955078px;
	top:0.41034752130508423px;
	border-top-left-radius:31.343280792236328px;
	border-top-right-radius:31.343280792236328px;
	border-bottom-left-radius:31.343280792236328px;
	border-bottom-right-radius:31.343280792236328px;
	background-image:url(images/rectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei35_184_22_32 { 
	background-color:rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
	width:487.1268310546875px;
	height:9.141790390014648px;
	position:absolute;
	left:14.589655876159668px;
	top:360.85809326171875px;
	border-radius:31.343280792236328px;
}
.ei35_184_16_27 { 
	background-color:rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
	width:20.89552116394043px;
	height:20.89552116394043px;
	position:absolute;
	left:413.9925231933594px;
	top:275.97003173828125px;
}
.ei35_184_16_23 { 
	color:rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
	width:385.26116943359375px;
	height:58.15262985229492px;
	position:absolute;
	left:39.17910385131836px;
	top:257.68646240234375px;
	font-family:Raleway;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.ei35_184_16_24 { 
	color:rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
	width:61px;
	height:31px;
	position:absolute;
	left:445.3357849121094px;
	top:270.74615478515625px;
	font-family:Raleway;
	text-align:center;
	font-size:20.89552116394043px;
	letter-spacing:0;
}
.e35_496 { 
	width:685px;
	height:72px;
	position:absolute;
	left:272px;
	top:2377px;
}
.ei35_496_10_38 { 
	color:rgba(72.46248409152031, 65.87499797344208, 98.81249696016312, 1);
	width:685px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Raleway;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
}
.e40_537 { 
	width:573px;
	height:101px;
	position:absolute;
	left:347px;
	top:2540px;
}
.e40_525 { 
	width:282px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e40_521 { 
	width:282px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e40_520 { 
	background-color:rgba(0, 0, 0, 1);
	width:282px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e40_524 { 
	width:60px;
	height:60px;
	position:absolute;
	left:38px;
	top:21px;
}
.e40_517 { 
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e40_523 { 
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e40_518 { 
	background-image:linear-gradient(0deg, rgba(23.000000528991222, 201.00000321865082, 251.00000023841858, 1) 0%,rgba(26.000000350177288, 116.00000068545341, 232.00000137090683, 1) 100%) ;
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e40_519 { 
	background-color:rgba(255, 255, 255, 1);
	width:42.47648620605469px;
	height:37.5169563293457px;
	position:absolute;
	left:8.559814453125px;
	top:10.94384765625px;
}
.e40_522 { 
	color:rgba(255, 255, 255, 1);
	width:118px;
	height:36px;
	position:absolute;
	left:119px;
	top:32px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e40_535 { 
	width:283px;
	height:100px;
	position:absolute;
	left:290px;
	top:1px;
}
.e40_534 { 
	width:283px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e40_526 { 
	width:283px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e40_527 { 
	background-color:rgba(0, 0, 0, 1);
	width:283px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e40_533 { 
	color:rgba(255, 255, 255, 1);
	width:143.50709533691406px;
	height:36px;
	position:absolute;
	left:107.425537109375px;
	top:32px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e36_515 { 
	width:60.212764739990234px;
	height:60px;
	position:absolute;
	left:28.09929084777832px;
	top:20px;
	background-image:url(images/300218_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e52_212 { 
	width:1366px;
	height:583px;
	position:absolute;
	left:1px;
	top:2747px;
}
.e40_536 { 
	background-color:rgba(7.000000057742, 9.000000413507223, 23.000000528991222, 1);
	width:1366px;
	height:583px;
	position:absolute;
	left:0px;
	top:0px;
}
.e66_137 { 
	width:914px;
	height:204.8677978515625px;
	position:absolute;
	left:134px;
	top:109px;
}
.e43_549 { 
	width:221.22361755371094px;
	height:182.1114501953125px;
	position:absolute;
	left:0px;
	top:5.134765625px;
}
.e40_541 { 
	color:rgba(218.00000220537186, 114.0000008046627, 44.000001177191734, 1);
	width:148.90052795410156px;
	height:21.651994705200195px;
	position:absolute;
	left:0.24539566040039062px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e43_548 { 
	width:221.22361755371094px;
	height:139.2462158203125px;
	position:absolute;
	left:0px;
	top:42.865234375px;
}
.e40_542 { 
	color:rgba(255, 255, 255, 1);
	width:100.91421508789062px;
	height:19px;
	position:absolute;
	left:18px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e43_543 { 
	color:rgba(255, 255, 255, 1);
	width:124.79280853271484px;
	height:19.246217727661133px;
	position:absolute;
	left:15px;
	top:40px;
	font-family:Poppins;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e43_544 { 
	color:rgba(255, 255, 255, 1);
	width:154.57293701171875px;
	height:19.246217727661133px;
	position:absolute;
	left:10px;
	top:80px;
	font-family:Poppins;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e43_547 { 
	color:rgba(255, 255, 255, 1);
	width:221.22361755371094px;
	height:19.246217727661133px;
	position:absolute;
	left:0px;
	top:120px;
	font-family:Poppins;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e43_550 { 
	width:126.21092987060547px;
	height:194.8677978515625px;
	position:absolute;
	left:309.9999694824219px;
	top:10px;
}
.e43_551 { 
	color:rgba(218.00000220537186, 114.0000008046627, 44.000001177191734, 1);
	width:95.01271057128906px;
	height:21.651994705200195px;
	position:absolute;
	left:5.000043869018555px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e43_552 { 
	width:126.21092987060547px;
	height:138.8677978515625px;
	position:absolute;
	left:0px;
	top:56px;
}
.e43_553 { 
	color:rgba(255, 255, 255, 1);
	width:66.65071868896484px;
	height:19.246217727661133px;
	position:absolute;
	left:7px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e43_554 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:20px;
	position:absolute;
	left:0px;
	top:41px;
	font-family:Poppins;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e43_555 { 
	color:rgba(255, 255, 255, 1);
	width:126.21092987060547px;
	height:19.246217727661133px;
	position:absolute;
	left:0px;
	top:88px;
	font-family:Poppins;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e43_556 { 
	color:rgba(255, 255, 255, 1);
	position:absolute;
	left:54.594200134277344px;
	top:119.62158203125px;
	font-family:Poppins;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e43_557 { 
	width:232.56845092773438px;
	height:194.86761474609375px;
	position:absolute;
	left:575px;
	top:0px;
}
.e43_558 { 
	color:rgba(218.00000220537186, 114.0000008046627, 44.000001177191734, 1);
	width:144.64622497558594px;
	height:21.651994705200195px;
	position:absolute;
	left:13px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e43_559 { 
	width:232.56845092773438px;
	height:137.8677978515625px;
	position:absolute;
	left:0px;
	top:56.99982452392578px;
}
.e43_560 { 
	color:rgba(255, 255, 255, 1);
	width:232.56845092773438px;
	height:19.246217727661133px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e43_561 { 
	color:rgba(255, 255, 255, 1);
	position:absolute;
	left:61.41380310058594px;
	top:40.033203125px;
	font-family:Poppins;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e43_563 { 
	color:rgba(255, 255, 255, 1);
	position:absolute;
	left:86.284423828125px;
	top:118.62158203125px;
	font-family:Poppins;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e66_136 { 
	width:75.53917694091797px;
	height:33.06910705566406px;
	position:absolute;
	left:767.8729248046875px;
	top:52.999755859375px;
}
.e43_565 { 
	background-color:rgba(255, 255, 255, 1);
	width:30.406301498413086px;
	height:33.06910705566406px;
	position:absolute;
	left:0px;
	top:0px;
}
.e43_567 { 
	background-color:rgba(255, 255, 255, 1);
	width:28.776826858520508px;
	height:32.999996185302734px;
	position:absolute;
	left:46.76234817504883px;
	top:0px;
}
.e66_135 { 
	width:326px;
	height:55px;
	position:absolute;
	left:588px;
	top:140px;
}
.e43_568 { 
	background-color:rgba(255, 255, 255, 1);
	width:326px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e43_572 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:139.79090881347656px;
	height:21.651994705200195px;
	position:absolute;
	left:6.98561954498291px;
	top:17px;
	font-family:Poppins;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e133_132 { 
	width:125.5894775390625px;
	height:29.96142578125px;
	position:absolute;
	left:174px;
	top:13px;
}
.e43_573 { 
	background-color:rgba(35.14218628406525, 38.321718871593475, 66.93749696016312, 1);
	width:125.5894775390625px;
	height:29.96142578125px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e43_576 { 
	color:rgba(255, 255, 255, 1);
	width:113.03052520751953px;
	height:26.96528434753418px;
	position:absolute;
	left:5.023482322692871px;
	top:0.9985051155090332px;
	font-family:Poppins;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}


@media (max-width: 998px) {
	
}
